body{
    background-color: salmon;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
  text-align: center;
  background-color: azure;
}
footer{
  text-align: center;
  background-color: azure;
  position: absolute;
}
li {
  font-size: 130%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.solid {
  border-color: aliceblue;
  border-style: solid;
  border-width: 5px;
}
.block {
  background-color: aliceblue;
}
.line{
  border-left: thick solid #ff0000;
  }
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 45%;
}
.exp p{
  font-size: 80%;
  margin: 0%;
  padding: 0%;
}
.exp h5{
  margin: 10;
}
.middle {
  width: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}